/Prepas/Prepa3/nbproject/private/
/Prepas/PrepaIG3/nbproject/private/
/Prepas/PrepaIG3/build/
/Prepas/PrepaListasImplementadas/nbproject/private/
/Prepas/PrepaListasImplementadas/build/
/Prepas/PrepaListasApuntadores/nbproject/private/
/Prepas/Primitivas/nbproject/private/
/Prepas/Primitivas/build/
/Prepas/PrepaArchivosTexto/nbproject/private/
/Prepas/PrepaArchivosTexto/build/
/Prepas/Quiz1Maestres/nbproject/private/
/Prepas/Quiz1Maestres/build/
/Prepas/Prueba/target/
/Prepas/PrimitivasYMas2/target/
/Prepas/Primitivas2/target/
/Prepas/LuisMaestresQ2/target/
